body{
    margin : 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.center{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    color: black;
    
}


.center h1{
    text-align: center;
    padding: 0 0 20px 0;

}

.form {
    margin-top: 50px;
}

.form input{
    margin: 30px 0;
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    background: none;
    outline: none;
    background-color: white;
    border-radius: 1rem;
    
    
}

.btn{
    width: 100%;
    padding: 1rem;;
	display: grid;
	place-items: center;
	border-radius: 1.2rem;
	border: solid 1px rgb(31, 76, 255);
    background-color: rgb(31, 76, 255);
    color: white;
    
}

.btn:hover{
    border-color: black;
    transition: .5s;
    cursor: pointer;
}

.singup-link{
    margin-top: 20px;
    text-align:center ;
    margin-bottom: 25px ;
    font-size: 16px;
}


.go-back{
    color: skyblue;
}